<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gerenciador de Projetos</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

    <div class="container">
    
    	<div align="left" style="margin-top: 10px;">
              <div>
                <a href="/" class="btn btn-lg btn-primary" >Início</a>
                <a href="projectmenu" class="btn btn-lg btn-primary" >Voltar</a>
         	</div>
         </div>
         		    <hr>
      <form action="userprojectlist" method = "post">   
        <div >
            <table class="table table-hover">
                 <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Início Planejado</th>
                        <th>Fim Planejado</th>
                        <th>Arquivado</th>
                        <th>Usuário Envolvidos</th>
                    </tr>
                </thead>
                    <tr th:each="project: ${projects}">
                        <td><span th:text="${project.name}"></span></td>
                        <td><span th:text="${project.plannedstart}"></span></td>
                        <td><span th:text="${project.plannedend}"></span></td>
                        <td><span th:text="${project.filed}? 'Sim' : 'Não'"></span></td>
                        <td ><button  type="submit" class="btn btn-success" name="project" th:value="${project.id}">listar</button></td>
                        
                    </tr>
            </table>
        </div>
        </form>
        <hr>
        
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>  
</body>
</html>	