<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gerenciador de Projetos</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    
     	<div align="left" style="margin-top: 10px;">
              <div>
                <a href="/" class="btn btn-lg btn-primary" >Início</a>
         	</div>
         </div>
    		    <hr>
    
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h1>Opções de Usuario</h1>
              <div>
                <a href="adduser" class="btn btn-lg btn-primary" >Cadastrar Usuario</a>
                <a href="userlist" class="btn btn-lg btn-primary">Listar Usuarios</a>
         	</div>
         </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>	